@using MonkeyShop.Views.Advertisement;
@using MonkeyShop.Views.Shared.Components;
@using MonkeyShop.Models;
@using Microsoft.AspNetCore.Components.Rendering;
@using System.Globalization;
@using MonkeyShop.Controllers;
@using static MonkeyShop.Models.Database;
@using static MonkeyShop.Views.Advertisement.AdvertisementSettings;
@using static MonkeyShop.Views.Shared.Components.SearchComponent;
@using static MonkeyShop.Controllers.HomeController;
@using MongoDB.Bson;
@using MongoDB.Driver;
@using System.Web;
@code {
    public SearchComponent? Search;
    List<AnimalType> animalTypes = AnimalTypeCollection.Find(new BsonDocument()).ToList();
    public static List<Item> Result;
    public AdvertisementDetailComponent AdvertisementDetail = new();

    void AnimalTypeChanged(ObjectId id)
    {
        animalType = AnimalTypeCollection.Find(x => x.Id == id).FirstOrDefault();

        if (animalType.Id != ObjectId.Empty)
        {
            breeds = BreedCollection
             .Find(x => x.AnimalTypeRef == animalType.Id)
             .ToList();
        }

        selectedTypeValue = animalType.Name;
        selectedBreedValue = "Порода";
        selectedColorValue = "Окрас";
        breed = new();
        propertyValue = new();
        StateHasChanged();
    }

    void BreedChanged(ObjectId id)
    {
        breed = BreedCollection.Find(x => x.Id == id).FirstOrDefault();
        selectedBreedValue = breed.Name;
        selectedColorValue = "Окрас";
        propertyValue = new();
        StateHasChanged();
    }

    void ColorChanged(ObjectId id)
    {
        propertyValue.Id = id;
        selectedColorValue = propertyValues.FirstOrDefault(x => x.Id == id).Name;
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        FindItems();
    }

    public static void FindItems()
    {
        List<Item> Items = ItemCollection.Find(new BsonDocument()).ToList().FindAll(x => x.UserRef != CurUser.Id);
        Result = new();
        bool colorIsEmpty; // false
        bool typeIsEmpty;
        bool breedIsEmpty;
        if (propertyValue.Id == ObjectId.Empty)
        {
            colorIsEmpty = true;
        }
        else
        {
            colorIsEmpty = false;
        }

        if (animalType.Id == ObjectId.Empty)
        {
            typeIsEmpty = true;
        }
        else
        {
            typeIsEmpty = false;
        }

        if (breed.Id == ObjectId.Empty)
        {
            breedIsEmpty = true;
        }
        else
        {
            breedIsEmpty = false;
        }

        // всё пустое - ищем все публикации
        if (breedIsEmpty && typeIsEmpty && colorIsEmpty)
        {
            Result = Items;
        }
        // добавить ещё в условия пользователя curUser != x.UserRef
        if (!typeIsEmpty && breedIsEmpty && colorIsEmpty)
        {
            // только по типу
            Result = Items.FindAll(x => BreedCollection.Find(b => b.Id == x.BreedRef).FirstOrDefault().AnimalTypeRef == animalType.Id);

        }

        if (!typeIsEmpty && !breedIsEmpty && colorIsEmpty)
        {
            Result = Items.FindAll(x => BreedCollection.Find(b => b.Id == x.BreedRef).FirstOrDefault().AnimalTypeRef == animalType.Id
            && x.BreedRef == breed.Id);
        }

        if (!typeIsEmpty && !breedIsEmpty && !colorIsEmpty)
        {
            Result = Items.FindAll(x => BreedCollection.Find(b => b.Id == x.BreedRef).FirstOrDefault().AnimalTypeRef == animalType.Id
            && x.BreedRef == breed.Id && x.Properties.Contains(propertyValue.Id));
        }

        if (!typeIsEmpty && breedIsEmpty && !colorIsEmpty)
        {
            Result = Items.FindAll(x => BreedCollection.Find(b => b.Id == x.BreedRef).FirstOrDefault().AnimalTypeRef == animalType.Id
            && x.Properties.Contains(propertyValue.Id));
        }
    }
  
  
    public void ShowDetails(Item item)
    {
        AdvertisementDetail.ShowDialog(item, null, null);
    }

    public bool IsWatchedItem(Item item)
    {
        if (CurUser.ViewingHistory == null) return false;
        if (CurUser.ViewingHistory.FirstOrDefault(x => x.ItemId == item.Id) != null) return true;
        return false;
    }
}

<div class="container mt-3 pt-3 mb-5" style="font-size: medium;">
    <div class="col">
        <div class="row mb-4" style="font-weight:600;">Поиск объявлений</div>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <form class="d-flex flex-column flex-md-row align-items-center">
                    <div class="col-md-4 mb-3">
                        <button class="btn btn-outline-secondary dropdown-toggle mb-2 mb-md-0 me-3" style="font-size: small; min-width: 150px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @selectedTypeValue
                        </button>
                        <ul class="dropdown-menu">
                            @foreach (var aType in animalTypes)
                            {
                                <li class="dropdown-item" value="@aType.Id" style="font-size: small; width: 150px;" @onclick="@(e => AnimalTypeChanged(aType.Id))">@aType.Name</li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-4 mb-3">
                        <button class="btn btn-outline-secondary dropdown-toggle mb-2 mb-md-0 me-3" style="font-size: small; min-width: 150px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @selectedBreedValue
                        </button>
                        <ul class="dropdown-menu">
                            @foreach (var b in breeds)
                            {
                                <li class="dropdown-item" value="@b.Id" style="font-size: small; width: 150px;" @onclick="@(e => BreedChanged(@b.Id))">@b.Name</li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-4 mb-3">
                        <button class="btn btn-outline-secondary dropdown-toggle mb-2 mb-md-0 me-3" style="font-size: small; min-width: 150px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @selectedColorValue
                        </button>
                        <ul class="dropdown-menu">
                            @foreach (var c in propertyValues.FindAll(x => x.PropTypeRef == new ObjectId("658ab0a38a4dcfd166a80346")).OrderBy(x => x.Name))
                            {
                            // href="/Search/SearchView"
                                <li class="dropdown-item" value="@c.Id" style="font-size: small; width: 150px;" @onclick="@(e => ColorChanged(@c.Id))">@c.Name</li>
                            }
                        </ul>
                    </div>
                </form>
                <div class="row justify-content-center">
                    <a class="btn btn-dark" style="font-size: small; min-width: 200px; color: white; border-color: #d90429; background-color: #d90429;" @onclick="FindItems">Поиск</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col" style="font-weight:600; font-size: medium;">Результат поиска</div>
    </div>
    <div class="row">
        <div class="col">
            @if (Result.Count != 0)
            {
                @if (Result.Count() != 0)
                {
                    foreach (var item in Result)
                    {
                        if (item.Images != null)
                        {
                            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12 pt-3 pb-5">
                                <div class="card" style="@(IsWatchedItem(item).StrIf("opacity: 0.65;"))  width: 24rem;">
                                    @if (item.Images?.Count != 0)
                                    {
                                        <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.Images.First())}")" alt="Image" class="d-block w-100 card-img">
                                    }
                                    @if (IsWatchedItem(item))
                                    {
                                        <div style="position: absolute; top: 10px; right: 10px; background-color: #3c4246a6; opacity: 1; color: white; padding: 5px; border-radius: 5px; width: auto;">
                                            <span style="font-size: 14px; font-weight: 400; letter-spacing: 0.03em;">Просмотрено 👁</span>
                                        </div>
                                    }
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size: 15px; font-weight: 640;">@item.Title</h5>
                                        <div class="card-button-container">
                                            <button class="btn btn-outline-dark" style="width: 80%; border-color: #2b2d42; font-size: 14px;" @onclick="()=>ShowDetails(item)">Подробнее...</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    <h5 style="color: gray;">Здесь появятся ваши избранные публикации.</h5>
                }
            }
            else
            {
                <h5 style="color: gray;">Ничего не найдено</h5>
            }
        </div>
    </div>
    <AdvertisementDetailComponent @ref="AdvertisementDetail" />
</div>
